/* Steps Component Styles */
.step {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.step-left {
  flex-direction: row;
}

.step-right {
  flex-direction: row-reverse;
}

.step-content {
  flex: 1;
  padding: 1rem;
}

.step-image {
  flex: 1;
  text-align: center;
}

.step-image img {
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
}
